:root {
  --page: url('/./assets/media/background/full2.png');
  --background: rgba(28, 30, 190, 0.582);
  --background-filter: blur(10px) brightness(80%);
  --background-secondary: #f700ffc2;
  --background-dark: #f700ffc2;
  --background-other: #f700ffc2;

  --title: #fff;
  --block: #f700ffc2;
  --block-buttons: #333;
  --input: #444;
  --column: #353535;
  --accent-color: #444;
  --main: #222;

  --text-primary: #fff;
  --text-secondary: #b0b0b0;
  --text-placeholder: #aaa;
  --text-dark: #555;

  --transparent: rgb(0, 0, 0, 0);
}
